<!DOCTYPE html>
<html>
  <head>
    <title>Create Request Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' 
    	  href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css'>
  </head>
  <body>
    <div class="ui container">
      <h3>Create Request</h3>

      <form class="ui form" method = "post" encType="multipart/form-data">
	<!--
	<div class="field">
	  <label>URL to download recording (.mp4)</label>
	  <input type="text" name="url" placeholder=""  value="<%= data.url %>">
	</div>
	<div class="field">
	  <label>Password</label>
	  <input type="text" name="password" placeholder="" value="<%= data.password %>">
	</div>
	-->
	<div class="field">
	  <label>SR#</label>
	  <input type="text" name="sr" placeholder="" value="<%= data.sr %>">
	</div>
	<div class="field">
	  <label>User Id</label>
	  <input type="text" name="user" placeholder="" value="<%= data.user %>">
	</div>
	<div class="field">
	  <label>File</label>
	  <input type="file" name="webexfile" placeholder="">
	</div>

	<button class="ui primary button" type="submit">Submit</button>
      </form>

      <div class="ui message" >
	<div class="header"><%= data.msgHeader %></div>
	<p><%= data.msgBody %></p>
      </div>
    </div>
  </body>
</html>
