<!DOCTYPE html>
<html>
  <head>
    <title>Create Request Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' 
    	  href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css'>
  </head>
  <body>
    <div class="ui container">
      <h3>List of requests</h3>
      <table class="ui celled table">
	<thead>
	  <tr>
	    <th>RequestId</th>
	    <th>SR#</th>
	    <th>UploadedFile</th>
	    <th>VideoStatus</th>
	    <th>AudioStatus</th>
	    <th>GoogleAudioStatus</th>
	</tr></thead>
	<tbody>
	  <% for (var i = 0; i < tasks.length; i++) { %>
	  <tr>
	    <td>
	      <%= tasks[i]._id %>
	    </td>
	    <td>
	      <%= tasks[i].sr %>
	    </td>
	    <td>
	      <%= tasks[i].videofile %>
	    </td>
	    <td>
	      <% if (tasks[i].video_status == 1) { %>
	      <a href="<%= tasks[i].video_output %>">video_output.txt</a>
	      <% } else { %>
	      <%= tasks[i].video_status_msg %>
	      <% } %>
	    </td>
	    <td>
	      <% if (tasks[i].audio_status == 1) { %>
	      <a href="<%= tasks[i].audio_output %>">audio_output.txt</a>
	      <% } else { %>
	      <%= tasks[i].audio_status_msg %>
	      <% } %>
	    </td>
	    <td>
	      <% if (tasks[i].google_audio_status == 1) { %>
	      <a href="<%= tasks[i].google_audio_output %>">google_audio_output.txt</a>
	      <% } else { %>
	      Error Occurred.
	      <% } %>
	    </td>
	  </tr>
	  <% } %>
	</tbody>
      </table>
    </div>
  </body>
</html>
